.player-name {
   width: 100%;
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;

   .button-send {
      width: 182px;
   }

   .message-error {
      &>div {
         background-color: #F44336;
      }
   }
}